.cards {
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  margin-top: 10px;
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
