.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
}
