.card {
  max-width: 413px;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-style: normal;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/like\ icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
  }
}
