.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.footer__copyright {
  font-family: poppins;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  opacity: 70%;
  margin: 0;
}
