.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 0s,
    opacity 0.5s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 36px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 22px;
  right: 12px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: #fff;
  cursor: pointer;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  padding: 0 12px;
  width: 100%;
  border: 1px solid #21212166;
  line-height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  height: 54px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 18px 58px;
  width: 156px;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__input {
    max-width: 276px;
    padding: 16px 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
  }
}
