.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.png);
  border: hidden;
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  padding: 16px 12px 16px 12px;
  width: 100%;
  border: 1px solid #21212166;
  line-height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: none;
  top: 18px;
  right: 32px;
  bottom: 18px;
  left: 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
}
