.profile {
  display: flex;
  padding-top: 34px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  margin-top: auto;
}

.profile__add-btn {
  margin-left: auto;
}

.profile__add-btn:hover {
  opacity: 80%;
}

.profile__edit-btn {
  background: none;
  border: none;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 40%;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  align-self: flex-end;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 12px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    border-radius: 90px;
  }
}
